:root {
  --darkest: #242225;
  --lightest: #E1E0E8;
  --accent: #BC5536;
  --light: #C4C4CA;
  --dark: #545456;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--lightest);
  background-color: var(--darkest);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 28px;
}

.button-container {
  margin: 60px auto 0;
}

.button {
  height: 24px;
  width: 120px;
  border: none;
  border-radius: 2px;
  background-color: var(--accent);
  font-size: 14px;
  color: var(--lightest);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  box-shadow: 0 1px 4px #111;
  transition: all 0.6s ease;
}

.button_secondary {
  background-color: var(--darkest);
}

.button:hover {
  box-shadow: 0 1px 4px var(--dark);
}